<div class="navbar">
    <a class="navbar-brand" href="">
        Nsharp Scanner
    </a>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Scanner
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="settings">
                Préférences
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="history">
                Historique
            </NavLink>
        </div>
    </nav>
</div>
